<div class="header-container">
  <div class="row">
    <div class="col-sm-7 mt-1">
      <mat-card class="header-card">
        <h1 class="hello">Hello, I'm</h1>
        <h1 class="name">Ishani Herath</h1>
        <h1 class="hello">It's so good to see you!</h1>

        <h3 class="header-description">
          I am a proven Software Engineer with Bachelor of Software Engineering
          (Hons.) Degree and 4+ years of web development experience, who is
          interested in meeting clients’ specifications and gain professional
          experience alongside.
        </h3>
      </mat-card>
    </div>

    <div class="col-sm-5 mt-4 header-image-card">
      <img
        class="image"
        src="../../../../assets/images/dp.jpeg"
        alt="Photo of Izzy"
      />
    </div>
  </div>
</div>

<my-experience></my-experience>

<education-qualification></education-qualification>
