<div class="body-container">
  <h1 class="body-title">education qualification</h1>
  <div class="body-style">
    <div class="row">
      <div class="row">
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              2017 - 2020
            </div>
            <div class="body-card-heading mb-3">
              Bachelor of software engineering
            </div>
            <div>
              Open University of Sri Lanka (Second class upper division)
            </div>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              2019 - 2019
            </div>
            <div class="body-card-heading mb-3">J2EE Frameworks</div>
            <div>Wisdom Academy of Information Technology</div>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              2016 - 2017
            </div>
            <div class="body-card-heading mb-3">
              Diploma in Information Systems and Technology
            </div>
            <div>Open University of Sri Lanka</div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
