.body-card{
    color: var(--primary-font-color);
    background-color: #b6f0ee;
    margin-bottom: 40px;
    padding: 50px;
    text-align: left;
}

.body-style{
    display:inline-block;
    width: fit-content;
    max-width: 1000px;
}




