//body
.body-container {
    background-color:white; 
    text-align: center;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.body-card{
    color: var(--primary-font-color);
    background-color: #b6f0ee;
    margin-bottom: 40px;
    padding: 50px;
    text-align: left;
}

.body-style{
    display:inline-block;
    width: fit-content;
    max-width: 1000px;
}

.body-title{
    text-transform: uppercase;
    color: var(--primary-font-color);
}

.body-icon-size{
    font-size: 15px;
}

.body-card-heading{
    font-size: 25px;
}



//Declare Variables
:root {
    --primary-font-color: #c58f83;
    --primary-color: rgb(121, 74, 74);

}