<div class="body-container">
  <h1 class="body-title">experience</h1>
  <div class="body-style">
    <div class="row">
      <div class="row">
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              Sep 2022 - Present
            </div>
            <div class="body-card-heading mb-3">Software Engineer</div>
            <div>SoftOne Group</div>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              Aug 2021 - Sep 2022
            </div>
            <div class="body-card-heading mb-3">Software Engineer</div>
            <div>Acentura Inc</div>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              Jan 2021 - Aug 2021
            </div>
            <div class="body-card-heading mb-3">
              Associate Software Engineer
            </div>
            <div>Digital Micro Services</div>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              Jul 2020 - Dec 2020
            </div>

            <div class="body-card-heading mb-3">Trainee Software Engineer</div>
            <div>Digital Micro Services</div>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-card class="body-card">
            <div class="mb-3">
              <mat-icon class="body-icon-size d-sm-inline"
                >calendar_today
              </mat-icon>
              Feb 2019 - Feb 2020
            </div>
            <div class="body-card-heading mb-3">Software Engineer Intern</div>
            <div>Fortude</div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
